Oie, {{user.name}}! <a href="/peixe">Pegue o seu Tamanduá-Bandeira</a>
    
    
    
    
     {{#if approved}} 
     <p>
        nao cadastrado
     </p>
     {{else}}
     <p>nao </p>


     {{/if}}
     {{#if auth}}
     <p>
        cadastrado
     </p>
          {{/if}}

