<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
            <h1>Aqui está!</h1>
            <h3>Dê um nome a ele!</h3>
            <input type="text" name="nome" id="input"> <br>     
         <img src="tmnd.png" id="fotoTam" alt="">
</body>
</html>